root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4

[*.php]
block_comment_start = /*
block_comment = *
block_comment_end = */

[{*Makefile,.gitmodules}]
indent_style = tab
