name: ASAN

on:
  pull_request: null
  push:
    branches:
      - master
      - develop
      - release
  schedule:
    - cron: "30 4 * * *"

jobs:
  auth:
    runs-on: ubuntu-latest
    name: Login to GitHub Container Registry
    steps:
      - uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

  vanilla:
    strategy:
      matrix:
          version: ["8.1", "8.2", "8.3"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: ASAN, PHP v${{matrix.version}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-asan-${{matrix.version}} docker/parallel.test --asan
  opcache:
    strategy:
      matrix:
          version: ["8.1", "8.2", "8.3"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: ASAN, PHP v${{matrix.version}}, opcache
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-asan-${{matrix.version}} docker/parallel.test -d opcache.enable_cli=1 -d opcache.jit=disable --asan
  jit:
    strategy:
      matrix:
          version: ["8.1", "8.2", "8.3"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: ASAN, PHP v${{matrix.version}}, JIT
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-asan-${{matrix.version}} docker/parallel.test -d opcache.enable_cli=1 -d opcache.jit=function -d opcache.jit_buffer_size=32M --asan
