name: Linux

on:
  pull_request: null
  push:
    branches:
      - master
      - develop
      - release
  schedule:
    - cron: "30 4 * * *"

env:
  NODE_COVERALLS_DEBUG: true
jobs:
  auth:
    runs-on: ubuntu-latest
    name: Login to GitHub Container Registry
    steps:
      - uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

  vanilla:
    strategy:
      matrix:
          version: ["8.0", "8.1", "8.2", "8.3"]
          build: ["gcov", "release"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: Linux, PHP v${{matrix.version}}, ${{matrix.build}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-${{matrix.build}}-${{matrix.version}} docker/parallel.test
      - name: Send Coverage
        if: ${{ matrix.build == 'gcov' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ github.workspace }}/coverage.info
          flag-name: vanilla-${{matrix.version}}
          parallel: true
  opcache:
    strategy:
      matrix:
          version: ["8.0", "8.1", "8.2", "8.3"]
          build: ["gcov", "release"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: Linux, PHP v${{matrix.version}}, ${{matrix.build}}, opcache
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-${{matrix.build}}-${{matrix.version}} docker/parallel.test -d opcache.enable_cli=1 -d opcache.jit=disable
      - name: Build Coveralls
        if: ${{ matrix.build == 'gcov' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ github.workspace }}/coverage.info
          flag-name: opcache-${{matrix.version}}
          parallel: true
  jit:
    strategy:
      matrix:
          version: ["8.0", "8.1", "8.2", "8.3"]
          build: ["gcov", "release"]
    if: success() || failure()
    runs-on: ubuntu-latest
    needs: auth
    name: Linux, PHP v${{matrix.version}}, ${{matrix.build}}, JIT
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test parallel
        run: docker compose run parallel-${{matrix.build}}-${{matrix.version}} docker/parallel.test -d opcache.enable_cli=1 -d opcache.jit=function -d opcache.jit_buffer_size=32M
      - name: Build Coveralls
        if: ${{ matrix.build == 'gcov' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ github.workspace }}/coverage.info
          flag-name: jit-${{matrix.version}}
          parallel: true
  finish:
    if: always()
    runs-on: ubuntu-latest
    needs: [vanilla, opcache, jit]
    steps:
    - name: Finish Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
